<h1>Productos</h1>
<div class="container">
    <div class="alert alert-success" *ngIf='message'>{{message}}</div>
    <input class="form-control" type="text" name="search" [(ngModel)]="search" placeholder="Búsqueda">    
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Producto</th>
        <th>Precio</th>
        <th>Tienda</th>
        <th>URL</th>
        <!-- th>URL IMG</th>-->
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <!-- Java - for (Todo todo: todos) {-->
      <tr *ngFor="let producto of productos | filter:search | paginate: { itemsPerPage: 10, currentPage: p }; ">
        <td>{{producto.id}}</td>
        <td>{{producto.producto}}</td>
        <td>{{producto.precio}}</td>
        <td>{{producto.tienda}}</td>
        <td>{{producto.enlace}}</td>
        <!--  <td>{{producto.enlaceImg}}</td>-->
        <td><button (click)="updateProducto(producto.id)" class="btn btn-success">Update</button></td>
        <td><button (click)="deleteProducto(producto.id)" class="btn btn-warning">Delete</button></td>
      </tr>
    </tbody>
  </table>  
      <div class="card-footer pb-0 pt-3">
        <!--<jw-pagination [items]="productos" (changePage)="onChangePage($event)"></jw-pagination>-->
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  <div class="row"><button (click)="addProducto()" class="btn btn-success">Add</button></div>
</div>
