<h1>Tiendas</h1>
<div class="container">
    <div class="alert alert-success" *ngIf='message'>{{message}}</div>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>Nombre</th>
        <th>Ubicación</th>
         <th>Descripción</th>
        <th>Última Actualización</th>
        <th>Estado</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <!-- Java - for (Todo todo: todos) {-->
      <tr *ngFor="let tienda of tiendas">
        <td>{{tienda.nombre}}</td>
        <td>{{tienda.ubicacion}}</td>
        <td>{{tienda.descripcion}}</td>
        <td>{{tienda.targetDate | date | uppercase}}</td>
        <td>{{tienda.done}}</td>
        <td><button (click)="updateTienda(tienda.id)" class="btn btn-success">Update</button></td>
        <td><button (click)="deleteTienda(tienda.id)" class="btn btn-warning">Delete</button></td>
      </tr>
    </tbody>
  </table>  
  <div class="row"><button (click)="addTienda()" class="btn btn-success">Add</button></div>
</div>