<h1>Tiendas</h1>
<div class="container">
    <div class="alert alert-success" *ngIf='message'>{{message}}</div>
  <table matSort (matSortChange)="sortData($event)" class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th mat-sort-header="nombre">Nombre</th>
        <th mat-sort-header="ubicacion">Ubicación</th>
        <th mat-sort-header="descripcion">Descripción</th>
        <th mat-sort-header="targetDate">Fecha</th>
        <th mat-sort-header="done">Estado</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <!-- Java - for (Todo todo: todos) {-->
      <tr *ngFor="let tienda of tiendas">
        <td>{{tienda.nombre}}</td>
        <td>{{tienda.ubicacion}}</td>
        <td>{{tienda.descripcion}}</td>
        <td>{{tienda.targetDate | date | uppercase}}</td>
        <td>{{tienda.done}}</td>
        <td><button (click)="updateTienda(tienda.id)" class="btn btn-success">Update</button></td>
        <td><button (click)="deleteTienda(tienda.id)" class="btn btn-warning">Delete</button></td>
      </tr>
    </tbody>
  </table>  
  <div class="row"><button (click)="addTienda()" class="btn btn-success">Add</button></div>
</div>


<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre. </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>


  <ng-container matColumnDef="ubicacion">
    <th mat-header-cell *matHeaderCellDef> Ubicacion </th>
    <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
  </ng-container>

  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef> Descripcion </th>
    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let element"> {{element.targetDate | date | uppercase}} </td>
  </ng-container>

  <ng-container matColumnDef="realizado">
    <th mat-header-cell *matHeaderCellDef> Realizado </th>
    <td mat-cell *matCellDef="let element"> {{element.done}} </td>
  </ng-container>

  <ng-container matColumnDef="actualizar">
    <th mat-header-cell *matHeaderCellDef> Actualizar </th>
    <td mat-cell *matCellDef="let element"> <button (click)="updateTienda(tienda.id)" class="btn btn-success">Update</button></td>
  </ng-container>

  <ng-container matColumnDef="eliminar">
    <th mat-header-cell *matHeaderCellDef> Eliminar </th>
    <td mat-cell *matCellDef="let element"><button (click)="deleteTienda(tienda.id)" class="btn btn-warning">Delete</button></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
 <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>