<h1>Producto</h1>
  <form (ngSubmit)="!tiendaForm.invalid && saveTienda()" #tiendaForm="ngForm">
  <div class="container">
    <div class="alert alert-warning" *ngIf="tiendaForm.dirty && tiendaForm.invalid">Enter valid values</div>
    <div class="alert alert-warning" *ngIf="tiendaForm.dirty && targetDate.invalid">Enter valid date</div>
    <div class="alert alert-warning" *ngIf="tiendaForm.dirty && ubicacion.invalid">Enter valid values</div>
    <fieldset class="form-group">
     <strong> <label>ID</label>
      {{producto.id}} </strong>    
    </fieldset>
    <fieldset class="form-group">
      <label>Producto</label>
      <input type="text" #nombre= "ngModel" 
      [(ngModel)]="producto.producto"class="form-control" name="nombre" required="required" minlength="3">       
    </fieldset>
    <fieldset class="form-group">
      <label>Precio</label>
      <input type="text" #precio= "ngModel" 
      [(ngModel)]="producto.precio"class="form-control" name="precio" required="required" minlength="5">       
    </fieldset>
    <fieldset class="form-group">
      <label>Tienda</label>
      <input type="text" #tienda= "ngModel" 
      [(ngModel)]="producto.tienda" class="form-control" name="tienda" minlength="5">       
    </fieldset>
    <fieldset class="form-group">
      <label>Enlace Producto</label>
      <input type="text" #enlace="ngModel"
      [ngModel]="producto.enlace" class="form-control" name="enlace" required="required">       
    </fieldset>
    <button type="submit" class="btn btn-success">save</button>
  </div>
  </form>
