/* You can add global styles to this file, and also import other style files */

/*@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css); */
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css);
/*@import url(bootstrap.min.css);*/


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
